<!DOCTYPE html>
<head>
   <meta charset="utf-8">
	<title>Subscription Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>
   <header id="home">
      <div class="row banner">
         <div class="banner-text">
            <h2 class="responsive-headline" id='time'></h2>
            <h1 class="responsive-headline">Connect your account! :D</h1>
            <input type="text" name="username" id="username" placeholder="Your username.."/>
            <input type="button" name="submit" id="submit" url_for="{{ url_for('subscription') }}" value="Submit"/>
            <input type="hidden" id="event_stream" url_for="{{ url_for('stream') }}"/>
            <ul class="reminders">
            </ul>
         </div>
         <div class="popup">
           <span class="popuptext" id="myPopup"></span>
         </div>
      </div>
   </header>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
   <script src="{{ url_for('static', filename='js/moment-timezone.js') }}"></script>
   <script src="{{ url_for('static', filename='js/util.js') }}"></script>
</body>